<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>mvcTest</display-name>
  <!-- 첫페이지 자동호출 등록
  		http://localhost:8090/mvcTest/ -->
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- 세션시간(20분) 등록 -> 분단위 -->
  <session-config>
  	<session-timeout>20</session-timeout>
  </session-config>

  <!-- 서블릿 등록 -->
  <servlet>
  	<servlet-name>hello</servlet-name>
  	<!-- 내부에서 실행되는 클래스 -->
  	<servlet-class>net.control.Welcome</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>hello</servlet-name>
  	<!-- 외부에서 부르는, servlet-name으로 연결-->
  	<url-pattern>/wel.do</url-pattern>
  </servlet-mapping>
  
  <!-- HttpServlet 생명주기 서블릿 등록 -->
  <servlet>
  	<servlet-name>lifecycle</servlet-name>
  	<servlet-class>net.control.LifeCycle</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>lifecycle</servlet-name>
  	<url-pattern>/life.do</url-pattern>
  </servlet-mapping>
  
  <!-- loginForm.jsp 호출 서블릿 -->
  <servlet>
  	<servlet-name>loginform</servlet-name>
  	<servlet-class>net.control.LoginForm</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>loginform</servlet-name>
  	<url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  
  <!-- action="loginproc.do"호출 서블릿 등록 -->
  <servlet>
  	<servlet-name>loginproc</servlet-name>
  	<servlet-class>net.control.LoginProc</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>loginproc</servlet-name>
  	<url-pattern>/loginproc.do</url-pattern>
  </servlet-mapping>
  
  <!-- 에러가 발생했을 때 처리할 페이지의 정보 -->
  <!-- 없는 페이지 불러올때의 에러메시지 -->
  <error-page>
  	<error-code>404</error-code>
  	<location>/error/404code.jsp</location>
  </error-page>
  
  <!-- 요청파라미터값이 없을때 가져오는 경우 -->
  <!--http://localhost:8090/mvcTest/error/test.jsp -->
  <error-page>
  	<error-code>500</error-code>
  	<location>/error/500code.jsp</location>
  </error-page>

	  
</web-app>